@charset "UTF-8"; 
* {margin:0;padding:0;vertical-align:middle;}
html,body {width:100%;height:100%;}
/* html */
/* 스크롤바 생성 y-세로/x-가로 ,scroll <--> hidden : 스크롤바숨기기*/
html {overflow-y:scroll;}
/* {font:굵기 크기/줄간격 '글꼴종류1', '글꼴종류2'....] */
body {font:normal 14px/1 '돋움', '굴림';color:#444;}
/* {font-weight:normal;font-size:14px;line-height:1;font-family:'돋움,'굴림';color:#444;background:#fff;} */
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:14px;}
em,i,address {font-style:normal;}
ul,li{list-style:none;}
.clearfix::after {content:'';display:block;clear:both;}
/* 링크 태그 */
a {color:#444;text-decoration:none}

/* 시멘틱 태그 */
header,main,section,footer {display:block;}
.hide {display:none;}
