@charset "UTF-8";

#wrap {width:1000px;height:650px;;margin:0 auto;}

#wrap #header {float:left;width:200px;height:650px;}
#wrap #header .logo-wrap {display:block;width:200px;height:100px;background:#fff;background:url(../img/logo.jpg) no-repeat 50% 50%;background-size:80%;cursor:pointer;}

/* 메인메뉴 */
#wrap #header #nav {width:200px;height:550px;background:#fff;}
#wrap #header #nav >ul {margin:0 10px;padding-top:10px;}
#wrap #header #nav >ul >li {width:100%;border:1px solid #fff;}
#wrap #header #nav >ul >li:first-child {border-top:1px solid #fff;}
#wrap #header #nav >ul >li >a {display:block;width:100%;height:50px;line-height:50px;text-align:center;font-size:15px;font-weight:800;color:#fff;background:#000;transition:all .3s;}
#wrap #header #nav >ul >li >a:hover {color:#000;background:#fff;border:1px solid #000;}
#wrap #header #nav >ul >li >a.on {color:#000;background:#fff;border:1px solid #000;}

/* 서브메뉴 */
#wrap #header #nav >ul >li .sub {width:100%;height:0;overflow:hidden;border-top:1px solid #fff;transition:height .3s;}
#wrap #header #nav >ul >li .sub.on {height:180px;}
#wrap #header #nav >ul >li .sub ul {width:100%;}
#wrap #header #nav >ul >li .sub ul li {width:100%;}
#wrap #header #nav >ul >li .sub ul li a {display:block;width:100%;height:45px;border-top:1px solid #000;line-height:45px;text-align:center;font-size:14px;font-weight:600;transition:all .3s ease-in-out;}
#wrap #header #nav >ul >li .sub ul li a:hover {background:#000;color:#fff;}

#wrap #main {float:left;width:800px;height:550px;}
#wrap #main #section1 {width:800px;height:350px;background:#c99;;}


/* 메인슬라이드 */
#wrap #main #section1 .slide-container {position:relative;width:100%;}
#wrap #main #section1 .slide-container .slide-view {position:relative;width:100%;overflow:hidden;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {position: relative;float:left;width:4800px;height:350px;margin-left:-800px;}
#wrap #main #section1 .slide-container .slide-view .slide {float:left;width:800px;height:350px;background:url(../img/collection1.jpg)no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .slide-container .slide-view .slide0 {background:url(../img/slide0.jpg)no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .slide-container .slide-view .slide1 {background:url(../img/slide1.jpg)no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .slide-container .slide-view .slide2 {background:url(../img/slide2.jpg)no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .slide-container .slide-view .slide3 {background:url(../img/slide3.jpg)no-repeat 50% 50%;background-size:cover;}



/* 좌 화살버튼 */
#wrap #main #section1 .slide-container .prev-btn-wrap  
 {z-index:2;display:block;position:absolute;top:50%;left:30px;width:40px;height:40px;margin-top:-20px;transform:rotate(-45deg);}
#wrap #main #section1 .slide-container .prev-btn-wrap a {display:block;width:100%;height:100%;border-top:1px solid #fff;border-left:1px solid #fff;}
/* 우 화살버튼 */
#wrap #main #section1 .slide-container .next-btn-wrap   
{z-index:2;display:block;position:absolute;top:50%;right:30px;width:40px;height:40px;margin-top:-20px;transform:rotate(45deg);}
#wrap #main #section1 .slide-container .next-btn-wrap a {display:block;width:100%;height:100%;border-top:1px solid #fff;border-right:1px solid #fff;}

/* 공지사항 */
#wrap #main #section2 {width:800px;height:200px;}
#wrap #main #section2 .column {float:left;width:33.3333333%;height:200px;}
#wrap #main #section2 .column1 {}
#wrap #main #section2 .column1 .gap {margin:10px;}
#wrap #main #section2 .column1 .notice-title {border-bottom:2px solid #000;}
#wrap #main #section2 .column1 .notice-title ul {padding:5px 0 15px;}
#wrap #main #section2 .column1 .gap .notice-title ul li:nth-child(1) {float:left;}
#wrap #main #section2 .column1 .gap .notice-title ul li:nth-child(2) {float:right;}
#wrap #main #section2 .column1 .gap .notice-content ul li:after {content:'';display:block;clear:both;}
#wrap #main #section2 .column1 .notice-title ul li h2 {font-weight:600;font-size:15px;color:#000;}
#wrap #main #section2 .column1 .notice-title ul li a {display:inline-block;}
#wrap #main #section2 .column1 .notice-title ul li a img {width:auto;}

/* 공지 사항 텍스트 목록 */
#wrap #main #section2 .column1 .gap .notice-content {padding-top:10px;}
#wrap #main #section2 .column1 .gap .notice-content ul {width:100%;}
#wrap #main #section2 .column1 .gap .notice-content ul li {line-height:170%;background:url(../img/btn.jpg) no-repeat 0 50%;background-size:5%;border-bottom:1px dotted #ccc;}
#wrap #main #section2 .column1 .gap .notice-content ul li:after {content:'';display:block;clear:both;}
#wrap #main #section2 .column1 .gap .notice-content ul li:last-child {border-bottom:0;}
#wrap #main #section2 .column1 .gap .notice-content ul li span:first-child {float:left;display:block;width:175px;}
#wrap #main #section2 .column1 .gap .notice-content ul li span:first-child a {display:block;font-size:13px;color:#555;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-indent:5px;margin-left:10px;}
#wrap #main #section2 .column1 .gap .notice-content ul li span:first-child a:hover {text-decoration:underline;color:#3388aa;}
#wrap #main #section2 .column1 .gap .notice-content ul li span:last-child {float:right;display:block;font-size:13px;color:#555;width:60px;word-spacing:-1px;}

/* 갤러리 */
#wrap #main #section2 .column2 {background:#fff;}
#wrap #main #section2 .column2 .gap {height:100%;margin:0;}
#wrap #main #section2 .column2 .gap .gallery-wrap {width:100%;height:100%;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul {width:100%;height:100%;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul li {float:left;width:50%;height:50%;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul li div {width:auto;height:77.5px;overflow:hidden;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul li:nth-child(1) div {margin:15px  7.5px 7.5px 15px;background: url(../img/bag1.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul li:nth-child(2) div {margin:15px  15px  7.5px 7.5px;background:url(../img/bag2.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul li:nth-child(3) div {margin:7.5px 7.5px 15px  15px;background: url(../img/bag3.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul li:nth-child(4) div {margin:7.5px 15px  15px  7.5px;background:url(../img/bag4.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .column2 .gap .gallery-wrap ul li div a {display:block;width:100%;height:100%;background:transparent;}



#wrap #main #section2 .column3 {background:#fff;}
#wrap #main #section2 .column3 .gap {height:100%;margin:0;}
#wrap #main #section2 .column3 .gap .banner-wrap {width:100%;height:100%;}
#wrap #main #section2 .column3 .gap .banner-wrap ul {width:100%;height:100%;}
#wrap #main #section2 .column3 .gap .banner-wrap ul li {float:left;width:33.33333%;height:100%;}
#wrap #main #section2 .column3 .gap .banner-wrap ul li div {width:auto;height:100%;overflow:hidden;}
#wrap #main #section2 .column3 .gap .banner-wrap ul li:nth-child(1) div {background: url(../img/show1.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .column3 .gap .banner-wrap ul li:nth-child(2) div {background:url(../img/show2.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .column3 .gap .banner-wrap ul li:nth-child(3) div {background: url(../img/show3.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section2 .column3 .gap .banner-wrap ul li div a {display:block;width:100%;height:100%;background:transparent;}

#wrap #footer {float:left;width:800px;height:100px;}
#wrap #footer .left-box {float:left;width:620px;height:100px;background:#000;}
#wrap #footer .right-box {float:left;width:180px;height:100px;}
#wrap #footer .right-box .sns-wrap {float:left;width:180px;height:50px;background:#000;}



#wrap #footer .right-box .famliy-wrap {float:left;width:180px;height:50px;background:#000;}
#wrap #footer .right-wrap .family-wrap .gap {padding:7.5px 5px;}
#wrap #footer .right-wrap .family-wrap .gap #familyForm {width:auto;}
#wrap #footer .right-wrap .family-wrap .gap #familyForm select {display:block;width:162px;padding:8px 3px;background:#fff;border:1px solid #ccc;}




#modal {display:none;z-index:4;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0, .6);cursor:crosshair;}
#modal .gap {padding:300px 450px;}
#modal .gap .content {width:100%;background:#fff;height:600px;cursor:pointer;}
#modal .gap .content h1 {font-size:20px;font-weight:600;width:80%;padding-top:100px;margin:0 auto;color:#000;line-height:200%;text-align: center;}

#modalGallery {display:none;z-index:4;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0, .6);cursor:crosshair;}
#modalGallery .gap {width:100%;height:100%;text-align:center;line-height:1080px;}
#modalGallery .gap .content-gallery {display:inline-block;width:850px;height:850px;background:url(../img/bag1.jpg) no-repeat 50% 50%;background:850px auto;cursor:pointer;}